---
layout: page
title:
permalink: /publications/
---

<header class="post-header">
    <h3 class="post-title">Publications</h3>
</header>
{% for group in site.data.publications %}
<table>
    <tbody>
    <tr>
        <td>
            <strong>{{ group.type }}</strong>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                {% for publication in group.publications %}
                <li>
                    {{ publication.authors }} ({{ publication.published }}). "{{ publication.title }}". In: {{ publication.in }}
                </li><br/>
                {% endfor %}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{% endfor %}